<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daiqu.cm.daiqu">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DaiQuApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_black"
        android:label="@string/app_name_cn"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.daiqu.cm.daiqu.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name="com.daiqu.cm.daiqu.ui.LoginActivity">
        </activity>
        <activity android:name="com.daiqu.cm.daiqu.ui.SignUpActivity">
        </activity>
        <activity android:name="com.daiqu.cm.daiqu.ui.SignUpSuccessActivity">
        </activity>
        <activity android:name="com.daiqu.cm.daiqu.ui.SendActivity"/>
    </application>

</manifest>